# vendors
/node_modules
/vendor

# env files
.env
.env.backup
/storage/*.key

# compiled ts->js files
/resources/js/**/*.js

# build directories
/public/build

# Eclipse
/.project
/.classpath
/.settings
/.factorypath

# intelliJ
/.idea

# vscode
/.vscode

# other
/storage/analyzer
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
