/node_modules
/public/hot
/public/download/
/public/storage
/public/css/
/public/js/
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
