pre[class*="language-"],
code[class*="language-"] {
    color: #d4d4d4;
    font-size: 16px;
    text-shadow: none;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"] *::selection,
code[class*="language-"] *::selection {
    text-shadow: none;
    background: #75a7ca;
}

/* TODO: add separate styles for light and dark mode */

pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background: #1e1e1e;
}

.token.punctuation {
    color: #d4d4d4;
}

.token.number {
    color: #b5cea8;
}

.token.string {
    color: #ce9178;
}

.token.operator {
    color: #d4d4d4;
}

.token.boolean, .token.keyword {
    color: #569cd6;
}

.token.property {
    color: #9cdcfe;
}


